<div class="employee-card">
  <div class="card-header">
    <h2 class="title">{{ name }}</h2>
    <h3 class="title"><i class="fas fa-graduate mr-2"></i>{{ role }}</h3>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="group-item">ID: {{ id }}</li>
      <li class="group-item">
        Email: <a href="mailto:{{ email }}">{{ email }}</a>
      </li>
      <li class="group-item">
        Github:
        <a
          href="https://github.com/{{ github }}"
          target="_blank"
          rel="nooperner noreferrer"
          >{{ github }}</a
        >
      </li>
    </ul>
  </div>
</div>
