:root {
  --whiteish: #fdf6e3;
  --lightpurple: #a872de;
}

body {
  background: #ebebdd;
}

.group-item {
  background: var(--whiteish);
}

.employee-card {
  margin: 10px;
  border-style: solid;
  border-color: var(--lightpurple);
  border-radius: 0.35rem;
}

.card-header {
  background: var(--lightpurple);
}

.card-body {
  background: var(--whiteish);
}

.team-heading {
  background: var(--lightpurple);
}

@media (max-width: 768px) {
  .team-area {
    flex-direction: column;
  }
}
